/* .male {
    color: blue
}

.female {
    color: pink
}

.n\/a, .none {
    color: slategray
}

.hermaphrodite {
    color: burlywood
} */

.background {
    background-image: url(night.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: fixed;
    height: 100vh;
}
.font {
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 3em;
    text-shadow: -1px 0 #ffea00, 0 1px #ffea00, 1px 0 #ffea00, 0 -1px #ffea00;
}